#hide{
    display: none;
}

#container{
    top: 65px;
    left: 2%;
    position: relative;
    width: 86%;
    background-color: grey;
    border-color: black;
    border-style: solid;
}

#container-head{
    height: 50px;
    position: relative;
    width: 100%;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

#container-head #open-filter-post-button{
    position: relative;
    height: 40px;
    width: 10%;
    font-size: 20px;
}

#container-head div{
    width: 30%;
    height: 40px;
    display: flex;
}

#container-head div #search-bar{
    height: 87%;
    width: 75%;
    font-size: 20px;
}

#container-head div #search{
    height: 100%;
    width: 25%;
    font-size: 20px;
}

#container-head #open-create-post-button{
    height: 40px;
    width: 17%;
    font-size: 20px;
}

#container-bodyaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa{
    top: 0px;
    left: 0px;
    position: relative;
    display: flex;
    width: 100%;
    background-color: rgb(175, 173, 173);

}
#post-container{
    position: relative;
    display: block;
    background-color: rgb(0, 60, 255);
    border-color: rgb(63, 116, 207);
    border-style: solid;
}

#postaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa{
    height: 200px;
    width: 150px;
    position: relative;
    background-color: cyan;
    border-color: rgb(52, 96, 96);
    border-style: solid;
    transition: transform .5s;
}

#post #date{
    
}

#post:hover{
    transform: scale(1.03);
    z-index: 1;
}

#post img{
    height: 125px;
    width: 150px;
    object-fit: cover;
    margin: auto;
}

#news {
    height: 400px;
    width: 10%;
    top: 73px;
    right: 10px;
    position: fixed;
    border-color: black;
    border-style: solid;
    background-image: linear-gradient(to bottom, rgb(227, 11, 227), rgb(96, 2, 96));
}

#post-creation{
    position: fixed;
    top: 30%;
    left: 39%;
    width: 400px;
    z-index: 20;
    background-color: white;
    border: solid;
    border-color: black;
    display: none;
}


#navtabs{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    padding: 0px;
    background-color: rgb(185, 184, 184);
    list-style-type: none;
}

#post-creation-footer{
    border-top: solid;
    border-color: black;
    align-items: right;
    display: flex;
    justify-content: right;
    height: 30px;
}

#post-creation-footer button{
    position: relative;
    width: 70px;
}

.nav-link:link{
    color: black;
    background-color: aqua;
    text-decoration: none;
}

#post-creation .tab-pane{
    display: none;
}

#post-creation .active{
    display: block;
}

#tagselect {
    width: 100%;
}