#header {
    top: 0px;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 40px;
    border-style: solid;}

#page-link {
    width: 10%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;}

#logo{
    position: absolute;
    left: 0px;
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;}

#user {
    position: absolute;
    right: 0px;
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
}

#user #username {
    position: absolute;
    right: 40px;
    height: 20px;
    width: fit-content;
    border: solid 2px #000000;
    display: inline-block;
}

#user #pfp {
    position: absolute;
    right: 0px;
    height: 35px;
    width: 35px;
    background-color: #6538d9;
    border-radius: 50%;
    border: solid 2px #000000;
    display: inline-block;
}